{% extends 'bookclub/base_bookclub.html' %}

{% block title %}Book Club | Book List{% endblock %}

{% block content %}
    <h3>Book List</h3>

    {% if user.is_authenticated %}
        {% if contributed_books %}
            <p>Books You Contributed</p>
            <ul>
              {% for book in contributed_books %}
                <li>
                  <a href="{{ book.get_absolute_url }}">{{ book.title }}</a>
                </li>
                {% empty %}
                  <li>No books found.</li>
              {% endfor %}
            </ul>
        {% endif %}

        {% if bookmarked_books %}
            <p>Books You Bookmarked</p>
            <ul>
              {% for book in bookmarked_books %}
                <li>
                  <a href="{{ book.get_absolute_url }}">{{ book.title }}</a>
                </li>
                {% empty %}
                  <li>No books found.</li>
              {% endfor %}
            </ul>
        {% endif %}

        {% if reviewed_books %}
            <p>Books You Reviewed</p>
            <ul>
              {% for book in reviewed_books %}
                <li>
                  <a href="{{ book.get_absolute_url }}">{{ book.title }}</a>
                </li>
                {% empty %}
                  <li>No books found.</li>
              {% endfor %}
            </ul>
        {% endif %}
    {% endif %}

    <p>All Books</p>
    <ul>
      {% for book in books %}
        <li>
          <a href="{{ book.get_absolute_url }}">
            {{ book.title }} ({{ book.publication_year }})
          </a>
        </li>
      {% empty %}
        <li>No books found.</li>
      {% endfor %}
    </ul>
    <br>
    <br>

    {% if user.is_authenticated %}
        <a href="{% url 'bookclub:book_add' %}">Add a new book</a>
    {% endif %}

{% endblock %}
