{% extends 'bookclub/base_bookclub.html' %}

{% block title %}Book Club | Book List{% endblock %}

{% block content %}
    <h3>Book List</h3>

    {% if user.is_authenticated %}

        {% if contributed_books %}
            <h4>Books You Contributed</h4>
            <ul>
              {% for book in contributed_books %}
                <li>
                  <a href="{{ book.get_absolute_url }}">{{ book.title }}</a>
                </li>
              {% endfor %}
            </ul>
        {% endif %}

        {% if bookmarked_books %}
            <h4>Books You Bookmarked</h4>
            <ul>
              {% for book in bookmarked_books %}
                <li>
                  <a href="{{ book.get_absolute_url }}">{{ book.title }}</a>
                </li>
              {% endfor %}
            </ul>
        {% endif %}

        {% if reviewed_books %}
            <h4>Books You Reviewed</h4>
            <ul>
              {% for book in reviewed_books %}
                <li>
                  <a href="{{ book.get_absolute_url }}">{{ book.title }}</a>
                </li>
              {% endfor %}
            </ul>
        {% endif %}
    
    {% endif %}

    <h4>All Books</h4>
    <ul>
      {% for book in books %}
        <li>
          <a href="{{ book.get_absolute_url }}">
            {{ book.title }} ({{ book.publication_year }})
          </a>
        </li>
      {% empty %}
        <li>No books found.</li>
      {% endfor %}
    </ul>

    {% if user.is_authenticated %}
        <a href="{% url 'bookclub:book_add' %}">Add New Book</a>
    {% endif %}

{% endblock %}
