{% extends 'commissions/base_commissions.html' %}

{% block title %}Commissions | Commission List{% endblock %}

{% block content %}
    <h3>Commission List</h3>

    {% if user.is_authenticated %}
        {% if created_commissions %}
            <p>Your Commissions</p>
            <ul>
              {% for commission in created_commissions %}
                <li>
                  <a href="{{ commission.get_absolute_url }}">
                    {{ commission.title }}
                  </a>
                </li>
                {% empty %}
                  <li>No applications found.</li>
              {% endfor %}
            </ul>
            <br>
        {% endif %}

        {% if applied_jobs %}
            <p>Your Applications</p>
            <ul>
              {% for application in applied_jobs %}
                <li>
                  <a href="{{ application.get_absolute_url }}">
                    {{ application.title }}
                  </a>
                </li>
                {% empty %}
                  <li>No applications found.</li>
              {% endfor %}
            </ul>
            <br>
        {% endif %}
    {% endif %}

    <p>Available Commissions</p>
    <ul>
      {% for commission in all_commissions %}
        <li>
          <a href="{{ commission.get_absolute_url }}">
            {{ commission.title }}
          </a>
        </li>
      {% empty %}
        <li>No commissions found.</li>
      {% endfor %}
    </ul>
    <br>
    <br>

    <a href="{% url 'commissions:commission_add' %}">Create a commission</a>
{% endblock %}
