{% extends 'commissions/base_commissions.html' %}

{% block title %}Commissions | {{ commission.title }}{% endblock %}

{% block content %}
    <h3>{{ commission.title }}</h3>
    <p>
        Created {{ commission.created_on|date:'M d, Y' }},
        updated {{ commission.updated_on|date:'M d, Y' }}
    </p>
    <p>{{ commission.people_required }} people required</p>
    <br>
    <p>{{ commission.description }}</p>
    <br>
    <br>
    <br>
    <a href="{% url 'commissions:commission_list' %}">
        Return to commission list
    </a>
{% endblock %}
