{% extends 'diyprojects/base_project.html' %}

{% block title %}
    DIY Projects | {% if object %}Edit {{ object.title }}{% else %}Add New Project{% endif %}
{% endblock %}

{% block content %}
    {% if object %}
        <h3>Edit Project</h3>
    {% else %}
        <h3>Create Project</h3>
    {% endif %}

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}

        {% if object %}
            <input type="submit" value="Save Changes">
        {% else %}
            <input type="submit" value="Add Project">
        {% endif %}
    </form>
    <br>
    <br>
    <br>

    <a href="{% url 'diyprojects:project_list' %}">Return to project list</a>
{% endblock %}
