{% extends 'diyprojects/base_project.html' %}

{% block title %}DIY Projects | {{ project.title }} - Common Grounds{% endblock %}

{% block content %}
    <h3>{{ project.title }}</h3>
    <p>
        Created {{ project.created_on|date:'M d, Y' }},
        updated {{ project.updated_on|date:'M d, Y' }}
    </p>
    <br>
    <p>{{ project.description }}</p>
    <br>
    <h4>Materials:</h4>
    <p>{{ project.materials|linebreaks }}</p>
    <br>
    <h4>Steps:</h4>
    <p>{{ project.steps|linebreaks }}</p>
    <br>
    <br>
    <br>
    <a href="{% url 'diyprojects:project_list' %}">Return to project list</a>
{% endblock %}
