{% extends 'diyprojects/base_project.html' %}

{% block title %}
    {% if object %}
        DIY Projects | Editing {{ object.title }}
    {% else %}
        DIY Projects | Create Project
    {% endif %}
{% endblock %}

{% block content %}
    {% if object %}
        <h3>Edit Project</h3>
    {% else %}
        <h3>Create Project</h3>
    {% endif %}

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <br>

        {% if object %}
            <button type="submit">Save Changes</button>
        {% else %}
            <button type="submit">Add Project</button>
        {% endif %}
    </form>
    <br>
    <br>
    <br>

    <a href="{% url 'diyprojects:project_list' %}">Return to project list</a>
{% endblock %}
