{% extends 'localevents/base_event.html' %}

{% block title %} Local Events | Event Create{% endblock %}

{% block content %}
    {% if object %}
        <h3>Edit Event</h3>
    {% else %}
        <h3>Create Event</h3>
    {% endif %}

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}

        {% if object %}
            <button type="submit">Save Changes</button>
        {% else %}
            <button type="submit">Add Event</button>
        {% endif %}
    </form>
    <br>
    <br>
    <br>

    <a href="{% url 'localevents:event_list' %}">
        Return to event list
    </a>
{% endblock %}
