{% extends 'merchstore/base_item.html' %}

{% block title %}Merch Store | Your Cart{% endblock %}

{% block content %}
    <h3>Your Cart</h3>
    {% for owner in product_owners %}
        <h4>{{ owner }}</h4>
        <ul>
        {% for transaction in purchased_products %}
            {% if owner == transaction.product.owner %}
                <li>
                    {{ transaction.product.name }}
                    <br>
                    {{ transaction.get_status_display }}
                    <br>
                    {{ transaction.amount }}x
                    <br>
                    <br>
                </li>
            {% endif %}
        {% endfor %}
        </ul>
        {% empty %}
            <li>
                No products found.
            </li>
    {% endfor %}
    <br>
    <br>

    <a href="{% url 'merchstore:item_list' %}">Return to product list</a>
{% endblock %}
