{% extends 'merchstore/base_item.html' %}

{% block title %}Merch Store | {{ product.name }}{% endblock %}

{% block content %}
    {% if object %}
        <h3>Edit Product</h3>
    {% else %}
        <h3>Create Product</h3>
    {% endif %}

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}

        {% if object %}
            <input type="submit" value="Save Changes">
        {% else %}
            <input type="submit" value="Add Product">
        {% endif %}
    </form>
    <br>
    <br>
    <br>

    <a href="{% url 'merchstore:item_list' %}">Return to product list</a>
{% endblock %}
