{% extends 'merchstore/base_item.html' %}

{% block title %}
    {% if object %}
        Merch Store | Editing {{ object.name }}
    {% else %}
        Merch Store | Create Product
    {% endif %}
{% endblock %}

{% block content %}
    {% if object %}
        <h3>Edit Product</h3>
    {% else %}
        <h3>Create Product</h3>
    {% endif %}

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <br>

        {% if object %}
            <button type="submit">Save Changes</button>
        {% else %}
            <button type="submit">Add Product</button>
        {% endif %}
    </form>
    <br>
    <br>
    <br>

    <a href="{% url 'merchstore:item_list' %}">Return to product list</a>
{% endblock %}
