{% extends 'merchstore/base_item.html' %}

{% block title %}Merch Store | Your Transactions{% endblock %}

{% block content %}
    <h3>Your Transactions</h3>
    {% for buyer in product_buyers %}
        <h4>{{ buyer }}</h4>
        <ul>
        {% for transaction in owned_products %}
            {% if buyer == transaction.buyer %}
                <li>
                    {{ transaction.product.name }}
                    <br>
                    {{ transaction.get_status_display }}
                    <br>
                    {{ transaction.amount }}x
                    <br>
                    <br>
                </li>
            {% endif %}
        {% endfor %}
        </ul>
        {% empty %}
            <ul>
                <li>
                    No products found.
                </li>
            </ul>
    {% endfor %}
    <br>
    <br>

    <a href="{% url 'merchstore:item_list' %}">Return to product list</a>
{% endblock %}
